<!DOCTYPE html>
<html>
<head>
  <title>Nachtgeschichten</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <% flash.each do |key, value| %>
      <div class="alert individual_alert alert-<%= key %> individual_alert-<%= key %>">
        <div style="min-width: 300px;">
          <%= value %><a class="close" data-dismiss="alert" href="#">&times;</a>
        </div>
      </div>
    <% end %>
<%= yield %>

</body>
</html>
